# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# MACOS files
**/.DS_Store

# tests stuff not to commit
config.json
*.pem
*.key
*.crt
docker-build.sh
mongod.conf
/scripts/local/
/testsdata/
/.github/
/database/data/