<!DOCTYPE html>
<html lang="{{ .lang }}">
	{{ template "header.html" . }}
	{{ template "teacher.navbar.html" . }}
    <div class="col-sm-12 text-center"><h2><span class="glyphicon glyphicon-tasks"></span>&nbsp;<span>{{ .i18n_grades }}</span></h2></div>
	<div class="col-sm-12">
		<table id="grades" class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th></th>
					<th></th>
					<th></th>
					{{/* <th></th> */}}
				</tr>
			</thead>
			<tbody id="gradesData">
				{{ $i18n_manageStudents := .i18n_manageStudents }}
				{{ $i18n_editGrade := .i18n_editGrade }}
				{{ $i18n_copyGrade := .i18n_copyGrade }}
				{{/* {{ $i18n_deleteGrade := .i18n_deleteGrade }} */}}
				{{ range .Grades }}
				<tr>
					<td>{{ .Name }}</td>
					<td>{{ .Description }}</td>
					<td class="text-center"><a href="/teacher/grade/students?gradeid={{ .GradeID }}" data-toggle="tooltip" data-placement="top" title="{{ $i18n_manageStudents }}"><span class="glyphicon glyphicon-education"></span></a></td>
					<td class="text-center"><a href="/teacher/grade/edit?gradeid={{ .GradeID }}" data-toggle="tooltip" data-placement="top" title="{{ $i18n_editGrade }}"><span class="glyphicon glyphicon-edit"></span></a></td>
					<td class="text-center"><a href="/teacher/grade/copy?gradeid={{ .GradeID }}" data-toggle="tooltip" data-placement="top" title="{{ $i18n_copyGrade }}"><span class="glyphicon glyphicon-copy"></span></a></td>
					{{/* <td class="text-center"><a href="/teacher/grade/delete?gradeid={{ .GradeID }}&rnd={{ .ActionToken }}" data-toggle="tooltip" data-placement="top" title="{{ $i18n_deleteGrade }}"><span class="glyphicon glyphicon-trash"></span></a></td> */}}
				</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
	<div class="text-center col-sm-12">
		<a class="btn btn-lg btn-success btn-block" href="/teacher/grade/new" role="button">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;<span>{{ .i18n_addGrade }}</span>
		</a>
	</div>
	{{ template "footer.html" . }}
</html>