<!DOCTYPE html>
<html lang="{{ .lang }}">
	{{ template "header.html" . }}
    <div class="col-sm-12 text-center"><h2><span class="glyphicon glyphicon-user"></span>&nbsp;<span>{{ .i18n_signup }}</span></h2></div>
	{{ template "error.html" . }}
    <div class="col-sm-12">
        <form id="signupForm" method="POST" action="/signup" class="form-horizontal">
            <input type="hidden" name="token" value="{{ .Token }}"/>
            <div class="form-group">
                <label for="emailAddress" class="col-sm-2 control-label">{{ .i18n_emailAddress }}</label>
                <div class="col-sm-3">
                    <input type="email" autocomplete="email" pattern="^(?=^.{6,254}$)[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" id="emailAddress" name="emailAddress"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="btn-group" role="group">
                        <button id="signup" type="submit" class="btn btn-lg btn-primary">{{ .i18n_save }}</button>
                        <a class="btn btn-lg btn-default" href="/" role="button"><span>{{ .i18n_cancel }}</span></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
	{{ template "footer.html" . }}
</html>